.git
.github
.idea
.vscode
.env
.env.*
!.env.docker.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
tests
docs
tools
*.md
!README.md
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
